
<!--Created by Shivam Shukla-->

<% include partials/header %>



<div class="ui main text container">
    <div class="ui huge header">
        My BLOG App
    </div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <%blogs.forEach(function(blog){ %>
            <div class="item">
                <div class="image">
                    <img src="<%= blog.image %>">
                </div>
                <div class="content">
                    <a id="title" href="/blogs/<%= blog._id%>" class="header"><%=blog.title%></a>
                    <div class="ui top attached segment description ">
                    <p><%- blog.body.substring(0,60) %>.......</p>
                </div>
                <div class="extra">
                    <p style="float:right;padding-top:30px;">Posted on : <%= blog.created.toDateString() %></p>
                    <a style="padding-top:18px;"  class="ui small basic violet button" href="/blogs/<%= blog._id%>">READ MORE<i style="float: right;" class="right chevron icon" ></i></a>
                </div>
                </div>
                
            </div>
                <!--<p><%- blog.body.substring(0,60) %>.......</p>   If we use <%-   %> , we allow user to write html but it may be loophole as user can run the script-->
                <!--using <script></script> tag.-->
           
    
            <% }) %>
        </div>
    </div>
</div>


<% include partials/footer %>