<!DOCTYPE html>
<html>
    <head>
        <title>RESULTS</title>
        <link rel="stylesheet" href="/full_detail.css" type="text/css" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
                
        <div class="container">
            <div class="row custom">
                <div class="col-9 custom">
                    <div class="jumbotron" id="j">
                        
                            <h1 class="display-4 text_color"><%= data.Title %></h1>
                            <p class="lead">
                                
                                <% data.Plot%>
                                
                                <ul class="text_color">
                                    <li>
                                        <span id="heading"> YEAR : </span> <%= data.Year %>
                                    </li>
                                     <li>
                                        <span id="heading"> RELEASE DATE : </span> <%= data.Released %>
                                    </li>
                                     <li>
                                        <span id="heading"> RUNTIME : </span> <%= data.Runtime %>
                                    </li>
                                     <li>
                                        <span id="heading"> GENRE : </span><%= data.Genre %>
                                    </li>
                                     <li>
                                        <span id="heading"> DIRECTOR : </span><%= data.Director %>
                                    </li>
                                     <li>
                                        <span id="heading"> WRITER : </span><%= data.Writer %>
                                    </li>
                                     <li>
                                        <span id="heading"> ACTORS : </span><%= data.Actors %>
                                    </li>
                                     <li>
                                        <span id="heading"> LANGUAGE : </span><%= data.Language %>
                                    </li>
                                </ul>
                                    
                            </p>
                            <hr class="my-4 ">
                            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </div>
                       
                    </div>
                     <div class="col-3 custom align-items-center">
                            <img src=<%=data.Poster %>></img>
                        </div>
            </div>
            
        </div>
      
        </body>
</html>