<!DOCTYPE html>
<html>
    <head>
        <title>RESULTS</title>
        <link rel="stylesheet" href="/full_detail.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
                
        <div class="container">
            <div class="row custom">
                <div class="col-9 custom">
                    <div class="jumbotron" id="j">
                        
                            <h1 class="display-4 text_color rounded" id="title"><%= data.Title %></h1>
                            <p class="lead">
                                
                                <% data.Plot%>
                                
                                <ul >
                                    <li>
                                        <span id="heading" class="rounded-pill"> YEAR : </span> <span id="detail"> <%= data.Year %> </span>
                                    </li>
                                     <li>
                                        <span id="heading" class="rounded-pill"> RELEASE DATE : </span> <span id="detail"> <%= data.Released %> </span>
                                    </li>
                                     <li>
                                        <span id="heading" class="rounded-pill"> RUNTIME : </span> <span id="detail"> <%= data.Runtime %> </span>
                                    </li>
                                     <li>
                                        <span id="heading" class="rounded-pill"> GENRE : </span> <span id="detail"> <%= data.Genre %> </span>
                                    </li>
                                     <li>
                                        <span id="heading" class="rounded-pill"> DIRECTOR : </span> <span id="detail"> <%= data.Director %> </span>
                                    </li>
                                     <li>
                                        <span id="heading" class="rounded-pill"> WRITER : </span> <span id="detail"> <%= data.Writer %> </span>
                                    </li>
                                     <li>
                                        <span id="heading" class="rounded-pill"> ACTORS : </span> <span id="detail"> <%= data.Actors %> </span>
                                    </li>
                                     <li>
                                        <span id="heading" class="rounded-pill"> LANGUAGE : </span> <span id="detail"> <%= data.Language %> </span>
                                    </li>
                                </ul>
                                    
                            </p>
                            <hr class="my-4 ">
                            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </div>
                       
                    </div>
                     <div class="col-3 custom align-items-between">
                            <img src=<%=data.Poster %>></img>
                        </div>
            </div>
            
        </div>
      
        </body>
</html>