<!DOCTYPE html>
<html>
    <head>
        <title>RESULTS</title>
        <link rel="stylesheet" href="/full_detail.css" type="text/css" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
                
        <div class="container">
            <div class="row custom">
                <div class="col-9 custom">
                    <div class="jumbotron">
                        
                            <h1 class="display-4"><%= data.Title %></h1>
                            <p class="lead">
                                
                                <% data.Plot%>
                                
                                <ul>
                                    <li>
                                        YEAR : <%= data.Year %>
                                    </li>
                                     <li>
                                        RELEASE DATE : <%= data.Released %>
                                    </li>
                                     <li>
                                        RUNTIME : <%= data.Runtime %>
                                    </li>
                                     <li>
                                        GENRE : <%= data.Genre %>
                                    </li>
                                     <li>
                                        DIRECTOR : <%= data.Director %>
                                    </li>
                                     <li>
                                        WRITER : <%= data.Writer %>
                                    </li>
                                     <li>
                                        ACTORS : <%= data.Actors %>
                                    </li>
                                     <li>
                                        LANGUAGE : <%= data.Language %>
                                    </li>
                                </ul>
                                    
                            </p>
                            <hr class="my-4">
                            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </div>
                       
                    </div>
                     <div class="col-3 custom">
                            <img src=<%=data.Poster %>></img>
                        </div>
            </div>
            
        </div>
      
        </body>
</html>